.todo-div{
  background: rgb(238, 234, 235);
  width: 100%;
  height: 100vh;
}


.todo-main {
  background: white;
  width: 512px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 0 auto;
  margin-top: 1rem;
}
  
  .title {
    padding: 2rem;
    font-size: 2.5rem;
    text-align: center;
    font-weight: 100;
    background: rgb(238, 234, 235);
    color: #bd3158;

  }
  
  .add-wrapper {
    padding: 1rem; 
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 2rem;
  }
  
  .list-wrapper {
    min-height: 5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top : 1rem;
    font-size: 18px;
  }